<br> <!-- Needed to add this to move h1 below header. Will probably need to be changed once we figure out format -->
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <h1>Welcome to The Sheltering Branch Wellness Center Blogosphere!!</h1>
  <p>Where health and wellness is totes amazeballs.</p>

  <div class="wrapper">
    <p>Social Media Icons:</p>
    <div class="media">
      <ul>
        <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
        <li><i class="fa fa-twitter-square" aria-hidden="true"></i></li>
        <li><i class="fa fa-instagram" aria-hidden="true"></i></li>
      </ul>
    </div>
  </div>
  <button type="button" class="btn" (click)="toDashboard()">Go To Dashboard</button>
</body>