<br><br><br><br> <!-- Needed to add this to move Dashboard below header. Will probably need to be changed once we figure out format -->
<h1>Dashboard</h1>
<p>Welcome Decklan's Parents</p>
<button type="button" class="btn" (click)="toHome()">Go To Home</button>
<hr>
<form [formGroup]="blogForm">
    <div class="form-group">
        <input type="text" class="form-control" formControlName="title" placeholder="Title"><br><br>
    </div>
    <div class="form-group">
        <textarea type="text" class="form-control" formControlName="body" placeholder="Body" style="width: 40%;height: 80px"></textarea><br><br>
    </div>
    <div class="form-group">
        <input type="text" class="form-control" formControlName="author" placeholder="Author"><br><br>
    </div>
</form>
<button type="submit" class="btn" (click)="submit()">Post Blog</button>